.sobre-web-design {
  align-items: center;
  justify-content: space-between;

}

.sobre-web-design article {
  width: 250px;
}

.sobre-web-design article h1 {
  font-size: 70px;
  font-weight: 400;
  line-height: 90%;
  color: #333366;
}

.sobre-web-design article h2 {
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #3399cc;
  margin-top: 4px
}

.sobre-web-design article p {
  margin: 15px 0 40px;
  color: #3399cc;
}

.sobre-web-design figcaption img {
  width: 700px;
}