.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
}

.menu-lista {
  font-size: 2.5rem;
  list-style: none;
  display: flex;
  align-items: baseline;
}

.menu-item {
  margin: 0 10px;
}

.menu-item:nth-child(3) {
  font-size: 3rem;
}

.menu-link {
  text-decoration: none;
  color: black;
}