header section {
  justify-content: space-between;
  align-items: center;
}

.menu-lista {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu-item a {
  margin: 0 20px;
  color: #3399cc;
  font-weight: 600;
}