$color-white: #fff;

$color-primary: #3399cc;
$color-secondary: #333366;
$color-tertiary: #ff6633;
$color-quaternary: #b1faff;

$font-h1: 70px;
$font-h2: 30px;

$social-media-icons: 30px;

$btn-radius: 20px;